.userInfo {
  border: 1px solid black;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}

.userInfo ul {
  list-style-type: none;
}

.alert {
  border: 1px solid red;
}

.actions {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.delBtn {
  width: 60px;
  text-align: center;
  background: red;
  cursor: pointer;
  margin-bottom: 5px;
}

.editBtn {
  width: 60px;
  text-align: center;

  background: green;

  cursor: pointer;
}
